@layout LoginLayout
@page "/"


<BSCard CardType="CardType.Card" style="width: 25rem;" class="center">
    <BSCard CardType="CardType.Image" src="Images/login.jpg" alt="Card image cap" asp-append-version="true" />
    <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Title" Class="center">Leapsome</BSCard>
        <BSCard CardType="CardType.Text">

            <form>

                <fieldset>

                    <div class="form-group">
                        <label class="col-form-label mt-4" for="inputDefault">User Name</label>
                        <input type="text" class="form-control" placeholder="User Name" id="inputDefault">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                </fieldset>

            </form>

        </BSCard>
        <BSButton Color="BSColor.Primary" Class="login-btn">Login</BSButton>
        <BSButton Color="BSColor.Info" Class="login-btn">Sign in</BSButton>
    </BSCard>
</BSCard>

@code { }
