@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <Nav />

        <div class="page">


            <div class="main">
                @*<div class="top-row px-4">
                        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                    </div>*@

                <div class="main">
                    @Body
                </div>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        
    </NotAuthorized>
</AuthorizeView>


@code{

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo($"/login");
        }
    }

}