USE [master]
GO
/****** Object:  Database [GDAI]    Script Date: 17/10/2022 12:40:50 ******/
CREATE DATABASE [GDAI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GDAI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GDAI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GDAI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\GDAI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GDAI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GDAI]
GO
/****** Object:  User [olimpio]    Script Date: 17/10/2022 12:40:51 ******/
CREATE USER [olimpio] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [AsafeOlimpio]    Script Date: 17/10/2022 12:40:51 ******/
CREATE USER [AsafeOlimpio] FOR LOGIN [AsafeOlimpio] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [aolimpio]    Script Date: 17/10/2022 12:40:51 ******/
CREATE USER [aolimpio] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[GDRole]    Script Date: 17/10/2022 12:40:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GDRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](10) NOT NULL,
	[Description] [text] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GDUser]    Script Date: 17/10/2022 12:40:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GDUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [varchar](320) NOT NULL,
	[Phone] [varchar](50) NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](60) NOT NULL,
	[Token] [text] NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GDRole] ON 

INSERT [dbo].[GDRole] ([Id], [Code], [Description]) VALUES (1, N'ADM', N'Administrador')
INSERT [dbo].[GDRole] ([Id], [Code], [Description]) VALUES (2, N'TEST', N'Prueba rol')
INSERT [dbo].[GDRole] ([Id], [Code], [Description]) VALUES (5, N'ONE', N'Prueba listado rol')
SET IDENTITY_INSERT [dbo].[GDRole] OFF
SET IDENTITY_INSERT [dbo].[GDUser] ON 

INSERT [dbo].[GDUser] ([Id], [Name], [LastName], [Email], [Phone], [UserName], [Password], [Token], [RoleId]) VALUES (3, N'FELIPE', N'JIMENEZ GALLEGO', N'rm7xsele3@lycos.nl', N'655585109', N'felipe_67', N'Abcd,3', N'', 5)
SET IDENTITY_INSERT [dbo].[GDUser] OFF
ALTER TABLE [dbo].[GDUser]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[GDRole] ([Id])
GO
ALTER TABLE [dbo].[GDUser] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
